
    <h1>Angular Mad Libs</h1>
    <form>
      <label for="mans-name1">Man's Name 1<input type="text" ng-model="mans-name1" /></label>
      <label for="occupation">Occupation<input type="text" ng-model="occupation" /></label>
      <label for="noun1">Noun 1<input type="text" ng-model="noun1" /></label>
      <label for="noun2">Noun 2<input type="text" ng-model="noun2" /></label>
      <label for="noun3">Noun 3<input type="text" ng-model="noun3" /></label>
      <label for="shape">Shape<input type="text" ng-model="shape" /></label>
      <label for="mans-name2">Man's Name 2<input type="text" ng-model="mans-name2" /></label>
      <label for="verb1">Verb 1<input type="text" ng-model="verb1" /></label>
      <label for="womans-name1">Woman's Name 1<input type="text" ng-model="womans-name1" /></label>
      <label for="body-part">Body Part<input type="text" ng-model="body-part" /></label>
      <label for="verb2">Verb 2<input type="text" ng-model="verb2" /></label>
      <label for="noun4">Noun 4<input type="text" ng-model="noun4" /></label>
      <label for="noun5">Noun 5<input type="text" ng-model="noun5" /></label>
      <label for="restaurant-name">Restaurant Name<input type="text" ng-model="restaurant-name" /></label>
      <label for="historic-monument">Historic Monument<input type="text" ng-model="historic-monument" /></label>
      <label for="verb3">Verb 3<input type="text" ng-model="verb3" /></label>
      <label for="noun6">Noun 6<input type="text" ng-model="noun6" /></label>
      <label for="noun7">Noun 7<input type="text" ng-model="noun7" /></label>
      <label for="noun8">Noun 8<input type="text" ng-model="noun8" /></label>
      <label for="verb4">Verb 4<input type="text" ng-model="verb4" /></label>
      <label for="noun9">Noun 9<input type="text" ng-model="noun9" /></label>
      <label for="adjective1">Adjective 1<input type="text" ng-model="adjective1" /></label>
      <label for="adjective2">Adjective 2<input type="text" ng-model="adjective2" /></label>
      <label for="">Noun 9<input type="text" ng-model="noun9" /></label>

      <label for="noun1">Noun<input type="text" name="" ng-model="noun1"></label>


    </form>
