
    <h1>Angular Mad Libs</h1>
    <form class="card-panel">
      <div class="row">
        <div class="col s4"><label for="mans_name">Man's Name<input type="text" ng-model="inputs.mans_name" /></label></div>
        <div class="col s4"><label for="occupation">Occupation<input type="text" ng-model="inputs.occupation" /></label></div>
        <div class="col s4"><label for="noun1">Noun 1<input type="text" ng-model="inputs.noun1" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="noun2">Noun 2<input type="text" ng-model="inputs.noun2" /></label></div>
        <div class="col s4"><label for="noun3">Noun 3<input type="text" ng-model="inputs.noun3" /></label></div>
        <div class="col s4"><label for="shape">Shape<input type="text" ng-model="inputs.shape" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="verb1">Verb 1<input type="text" ng-model="inputs.verb1" /></label></div>
        <div class="col s4"><label for="womans_name1">Woman's Name 1<input type="text" ng-model="inputs.womans_name1" /></label></div>
        <div class="col s4"><label for="body_part">Body Part<input type="text" ng-model="inputs.body_part" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="verb2">Verb 2<input type="text" ng-model="inputs.verb2" /></label></div>
        <div class="col s4"><label for="noun4">Noun 4<input type="text" ng-model="inputs.noun4" /></label></div>
        <div class="col s4"><label for="noun5">Noun 5<input type="text" ng-model="inputs.noun5" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="restaurant_name">Restaurant Name<input type="text" ng-model="inputs.restaurant_name" /></label></div>
        <div class="col s4"><label for="historic_monument">Historic Monument<input type="text" ng-model="inputs.historic_monument" /></label></div>
        <div class="col s4"><label for="verb3">Verb 3<input type="text" ng-model="inputs.verb3" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="noun6">Noun 6<input type="text" ng-model="inputs.noun6" /></label></div>
        <div class="col s4"><label for="noun7">Noun 7<input type="text" ng-model="inputs.noun7" /></label></div>
        <div class="col s4"><label for="noun8">Noun 8<input type="text" ng-model="inputs.noun8" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="verb4">Verb 4<input type="text" ng-model="inputs.verb4" /></label></div>
        <div class="col s4"><label for="noun9">Noun 9<input type="text" ng-model="inputs.noun9" /></label></div>
        <div class="col s4"><label for="adjective1">Adjective 1<input type="text" ng-model="inputs.adjective1" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="adjective2">Adjective 2<input type="text" ng-model="inputs.adjective2" /></label></div>
        <div class="col s4"><label for="emotion">Emotion<input type="text" ng-model="inputs.emotion" /></label></div>
        <div class="col s4"><label for="verb5">Verb 5<input type="text" ng-model="inputs.verb5" /></label></div>
      </div>
      <div class="row">
        <div class="col s4"><label for="noun10">Noun 10<input type="text" ng-model="inputs.noun10" /></label></div>
        <div class="col s4"><label for="noun11">Noun 11<input type="text" ng-model="inputs.noun11" /></label></div>
        <div class="col s4"><label for="verb6">Verb 6<input type="text" ng-model="inputs.verb6" /></label></div>
      </div>
      <div class="center-align">
          <button class="waves-effect waves-light btn" ui-sref="render">Show The story<i class="material-icons right">send</i></button>

      </div>
    </form>
