
    <h1>Angular Mad Libs</h1>
    <form>
      <label for="mans_name">Man's Name<input type="text" ng-model="inputs.mans_name" /></label>
      <label for="occupation">Occupation<input type="text" ng-model="inputs.occupation" /></label>
      <label for="noun1">Noun 1<input type="text" ng-model="inputs.noun1" /></label>
      <label for="noun2">Noun 2<input type="text" ng-model="inputs.noun2" /></label>
      <label for="noun3">Noun 3<input type="text" ng-model="inputs.noun3" /></label>
      <label for="shape">Shape<input type="text" ng-model="inputs.shape" /></label>
      <label for="verb1">Verb 1<input type="text" ng-model="inputs.verb1" /></label>
      <label for="womans_name1">Woman's Name 1<input type="text" ng-model="inputs.womans_name1" /></label>
      <label for="body_part">Body Part<input type="text" ng-model="inputs.body_part" /></label>
      <label for="verb2">Verb 2<input type="text" ng-model="inputs.verb2" /></label>
      <label for="noun4">Noun 4<input type="text" ng-model="inputs.noun4" /></label>
      <label for="noun5">Noun 5<input type="text" ng-model="inputs.noun5" /></label>
      <label for="restaurant_name">Restaurant Name<input type="text" ng-model="inputs.restaurant_name" /></label>
      <label for="historic_monument">Historic Monument<input type="text" ng-model="inputs.historic_monument" /></label>
      <label for="verb3">Verb 3<input type="text" ng-model="inputs.verb3" /></label>
      <label for="noun6">Noun 6<input type="text" ng-model="inputs.noun6" /></label>
      <label for="noun7">Noun 7<input type="text" ng-model="inputs.noun7" /></label>
      <label for="noun8">Noun 8<input type="text" ng-model="inputs.noun8" /></label>
      <label for="verb4">Verb 4<input type="text" ng-model="inputs.verb4" /></label>
      <label for="noun9">Noun 9<input type="text" ng-model="inputs.noun9" /></label>
      <label for="adjective1">Adjective 1<input type="text" ng-model="inputs.adjective1" /></label>
      <label for="adjective2">Adjective 2<input type="text" ng-model="inputs.adjective2" /></label>
      <label for="emotion">Emotion<input type="text" ng-model="inputs.emotion" /></label>
      <label for="verb5">Verb 5<input type="text" ng-model="inputs.verb5" /></label>
      <label for="noun10">Noun 10<input type="text" ng-model="inputs.noun10" /></label>
      <label for="noun11">Noun 11<input type="text" ng-model="inputs.noun11" /></label>
      <label for="verb6">Verb 6<input type="text" ng-model="inputs.verb6" /></label>

    </form>
    <button class="btn btn-primary" ui-sref="render">Show The story</button>
