<div class="renderView flow-text center-align card-panel" ng-show="render">

    <h3 class="center-align">A M. Night Shyamalan Story</h3>
    <p>The <span class="input">{{inputs.last_name}}</span> family lives on a farm in <span class="input">{{inputs.small_town}}</span>, Pennsylvania.</p>
    <p><span class="input">{{inputs.mans_name}}</span> is a former <span class="input">{{inputs.blue_collar_job_title}}</span> who lost his <span class="input">{{inputs.relative}}</span> in a <span class="input">{{inputs.type_of_accident}}</span></p>
    <p>But soon a <span class="input">{{inputs.strange_occurance}}</span> begins to happen.  The only other person who understands what's going on is a <span class="input">{{inputs.synonym_for_creepy}}</span> child.</p>
    <p>He and <span class="input">{{inputs.childs_name}}</span> begin to uncover clues about the <span class="input">{{inputs.strange_occurance}}</span>, and it continues to get more awkward and uncomfortable, but the child helps give him <span class="input">{{inputs.emotion}}</span>.</p>
    <p>The two work together to get to the bottom of the <span class="input">{{inputs.strange_occurance}}</span>.</p>
    <p>Then, when it seems unsolvable, <span class="input">{{inputs.name}}</span> (played by M. Night Shyamalan) shows up to explain what's going on.</p>

</div>

<form class="card-panel story">
    <div class="row">
        <div class="col l4 m6 s12"><label for="last_name">Last Name<input type="text" ng-model="inputs.last_name"></label></div>
        <div class="col l4 m6 s12"><label for="small_town">Name of a Small Town<input type="text" ng-model="inputs.small_town" /></label></div>
        <div class="col l4 m6 s12"><label for="mans_name">Man's Name<input type="text" ng-model="inputs.mans_name" /></label></div>
    </div>
    <div class="row">
        <div class="col l4 m6 s12"><label for="blue_collar_job_title">Blue Collar Job Title<input type="text" ng-model="inputs.blue_collar_job_title" /></label></div>
        <div class="col l4 m6 s12"><label for="relative">Type of Relative<input type="text" ng-model="inputs.relative" /></label></div>
        <div class="col l4 m6 s12"><label for="type_of_accident">Type of Accident<input type="text" ng-model="inputs.type_of_accident" /></label></div>
    </div>
    <div class="row">
        <div class="col l4 m6 s12"><label for="strange_occurance">A Strange Occurance<input type="text" ng-model="inputs.strange_occurance" /></label></div>
        <div class="col l4 m6 s12"><label for="synonym_for_creepy">A Synonym for Creepy<input type="text" ng-model="inputs.synonym_for_creepy" /></label></div>
        <div class="col l4 m6 s12"><label for="childs_name">A Child's name<input type="text" ng-model="inputs.childs_name" /></label></div>
    </div>
    <div class="row">
        <div class="col l4 m6 s12"><label for="emotion">Emotion<input type="text" ng-model="inputs.emotion" /></label></div>
        <div class="col l4 m6 s12"><label for="name">A Name<input type="text" ng-model="inputs.name" /></label></div>
    </div>
    <div class="center-align">
        <button class="waves-effect waves-light btn" ng-click="render=true">Show The story<i class="material-icons right">send</i></button>

    </div>
</form>
