<div class="renderView">
    <p>{{mans-name}} is a normal {{occupation}}.  Then, one day, a {{noun1}} explodes, causing a {{noun2}} to blow up, and a nearby {{noun3}} erupts into a {{shape}} of flames.</p>
    <p>{{mans-name}} realizes that he's being chased by the government, who's trying to {{verb1}} him.</p>
    <p>While on the run, he teams up with an incredibly attractive woman named {{womans-name}}, who has an incredible {{body-part}}.</p>
    <p>She may be from the streets, but she can {{verb2}} like nobody's business.</p>
    <p>The duo decide to turn the tables on their purseuers by blowing up a {{noun4}}, which triggers a chain reaction, causing the local {{noun5}}, {{restaurant-name}}, and the {{historic-monument}} to explode.</p>
    <p>Then, the bad guys' helicopter gets {{verb3}} by a piece of {{noun6}} from when the {{noun7}} exploded, and the helicopter explodes and falls onto a {{noun8}}, causing it to {{verb3}}</p>

</div>
