<div class="renderView flow-text center-align card-panel" ng-show="render">

  <h3 class="center-align">Comic Superhero Movie</h3>
  <p>Meet our hero <span class="input">{{inputs.silly_name}}</span>, a super-intelligent <span class="input">{{inputs.unrealistic_profession}}</span>. A</p>
  <p>run-in with the <span class="input">{{inputs.country}}</span> military leads him to create his alter-ego</p>
  <p><span class="input">{{inputs.another_silly_name}}</span>, a <span class="input">{{inputs.color}}</span> <span class="input">{{inputs.adjective}}</span> giant capable of great</p>
  <p>destruction. He <span class="input">{{inputs.adverb}}</span> battler the military with his girlfriend</p>
  <p><span class="input">{{inputs.third_silly_name}}</span>. Eventually it is discovered that our hero's long-time</p>
  <p>colleague <span class="input">{{inputs.fourth_silly_name}}</span>, distinguished by his <span class="input">{{inputs.facial_feature}}</span> is trying</p>
  <p>turn <span class="input">{{inputs.fifth_silly_name}}</span> into a weapon, leading to a climactic (if pointless)</p>
  <p>battle in downtown <span class="input">{{inputs.us_city}}</span> with an evil version of the</p>
  <p>same giant alter-ego called <span class="input">{{inputs.one_more_silly_name}}</span>. Eventually the enemy is</p>
  <p>subdued by <span class="input">{{inputs.verb}}</span>ing him with a <span class="input">{{inputs.noun1}}</span>. In the final reel,</p>
  <p><span class="input">{{inputs.formerly_badass_actor_now_selling_out}}</span> appears to propose joining him in a</p>
  <p><span class ="input">{{inputs.noun2}}<span>.</p>

</div>

<form class="card-panel story">
  <div class="row">
    <div class="col s4"><label for="silly_name">Silly  Name<input type="text" ng-model="inputs.silly_name" /></label></div>
    <div class="col s4"><label for="unrealistic_profession">Unrealistic Profession<input type="text" ng-model="inputs.unrealistic_profession" /></label></div>
    <div class="col s4"><label for="country">Country<input type="text" ng-model="inputs.country" /></label></div>
  </div>
  <div class="row">
    <div class="col s4"><label for="another_silly_name">Another Silly Name<input type="text" ng-model="inputs.another_silly_name" /></label></div>
    <div class="col s4"><label for="color">Color<input type="text" ng-model="inputs.color" /></label></div>
    <div class="col s4"><label for="adjective">Adjective<input type="text" ng-model="inputs.adjective" /></label></div>
  </div>
  <div class="row">
    <div class="col s4"><label for="adverb">Adverb<input type="text" ng-model="inputs.adverb" /></label></div>
    <div class="col s4"><label for="third_silly_name">Third Silly Name<input type="text" ng-model="inputs.third_silly_name" /></label></div>
    <div class="col s4"><label for="fourth_silly_name">Fourth Silly Name<input type="text" ng-model="inputs.fourth_silly_name" /></label></div>
  </div>
  <div class="row">
    <div class="col s4"><label for="facial_feature">Facial Feature<input type="text" ng-model="inputs.facial_feature" /></label></div>
    <div class="col s4"><label for="fifth_silly_name">Fifth Silly Name<input type="text" ng-model="inputs.fifth_silly_name" /></label></div>
    <div class="col s4"><label for="us_city">US City<input type="text" ng-model="inputs.us_city" /></label></div>
  </div>
  <div class="row">
    <div class="col s4"><label for="one_more_silly_name">One More Silly Name<input type="text" ng-model="inputs.one_more_silly_name" /></label></div>
    <div class="col s4"><label for="verb">Verb<input type="text" ng-model="inputs.verb" /></label></div>
    <div class="col s4"><label for="noun1">Noun 1<input type="text" ng-model="inputs.noun1" /></label></div>
  </div>
  <div class="row">
    <div class="col s4"><label for="formerly_badass_actor_now_selling_out">Formerly badass actor now selling out<input type="text" ng-model="inputs.formerly_badass_actor_now_selling_out" /></label></div>
    <div class="col s4"><label for="noun2">Noun 2<input type="text" ng-model="inputs.noun2" /></label></div>
  </div>
  <div class="center-align">
      <button class="waves-effect waves-light btn" ng-click="render=true">Show The story<i class="material-icons right">send</i></button>
  </div>


</form>
